iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#debug {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #aaa;
  width: 100%;
  z-index: 100;
  font-size: 9px;
}

.active {
  z-index: 2;
}

.blank {
  z-index: 1;
}

.inactive {
  z-index: 0;
}
